* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  box-shadow: none !important;
  outline: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333f76;
  border-radius: 8px;
  cursor: pointer;
}

*[data-focus] {
  box-shadow: none !important;
}
